<table class="table table-striped">
<tr>
    {% for column in Columns %}
        <td>{{ column }}</td>
    {% endfor %}
</tr>

       {% for row in rows %}
           <tr>
                {% for column in Columns %}
                    <td>{{ row[column] }}</td>
                {% endfor %}
           </tr>
       {% endfor %}

</table>